node_modules
.next
/frontend/out
.firebase/
.env*.local
*.log
.DS_Store
# Assets
/assets/*
# Backend
/backend/venv-ai
/backend/.env
/backend/__pycache__
/backend/*service-account*.json
/backend/project*-*.json
/frontend/project*-*.json
**/*service-account*.json

# Docs
/docs/*
!/docs/*.md

*.json